PORT=5000

CATALOG_SERVICE_URL=http://localhost:5001/api/catalog
ORDER_SERVICE_URL=http://localhost:5002/api/orders
NOTIFICATION_SERVICE_URL=http://localhost:5003/api/notifications
RATING_SERVICE_URL=http://localhost:5004/api/ratings